@import url("https://fonts.googleapis.com/css?family=Jua");
/* line 4, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/greeting.scss */
.login-signup, .header-group {
  display: inline-block;
}

/* line 7, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/greeting.scss */
.session-link {
  display: inline-block;
  width: auto;
  height: 25px;
  background-color: #7CA9A4;
  font-size: 20px;
  padding: 3px;
  margin: 15px;
  text-decoration: none;
  border: 2px;
  border-color: #CCD9D7;
  border-radius: 5px;
  border-style: outset;
  text-align: center;
  color: #FFFFFF;
}

/* line 25, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/greeting.scss */
.header-group {
  display: flex;
  flex-direction: row;
}
/* line 28, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/greeting.scss */
.header-group .header-name {
  font-size: 30px;
  margin: 15px;
  text-shadow: 2px 2px #000000;
  color: #FFFFFF;
  text-decoration: none;
}
/* line 36, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/greeting.scss */
.header-group .header-button {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #7CA9A4;
  font-size: 20px;
  padding: 3px;
  margin: 15px;
  text-decoration: none;
  border: 2px;
  border-color: #CCD9D7;
  border-radius: 5px;
  border-style: outset;
  text-align: center;
  color: #FFFFFF;
  font-family: "Jua", sans-serif;
}
/* line 55, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/greeting.scss */
.header-group .header-button:hover {
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css?family=Jua");
/* line 4, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  font-family: "Jua", sans-serif;
}

/* remember to define focus styles! */
/* line 24, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
:focus {
  outline: 0;
}

/* line 27, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 32, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 36, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 40, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 44, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 48, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: "" "";
}
@import url("https://fonts.googleapis.com/css?family=Jua");
/* line 4, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container {
  margin: auto;
  margin-top: 20px;
  font-family: "Jua", sans-serif;
  display: block;
  width: 550px;
  height: auto;
  border: 5px outset #B6C3C2;
  border-radius: 5px;
  font-size: 18px;
}
/* line 16, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-form-box {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
/* line 22, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-form-box .form-title {
  padding-bottom: 20px;
  display: block;
  font-size: 50px;
}
/* line 28, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-form-box .session-form-label {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  padding-bottom: 10px;
}
/* line 34, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-form-box .session-form-label .session-form-input {
  margin-left: auto;
}
/* line 42, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-form-submit {
  width: auto;
  height: auto;
  display: inline-block;
  background-color: #7CA9A4;
  font-size: 20px;
  padding: 5px;
  margin: 15px;
  text-decoration: none;
  border: 2px outset #CCD9D7;
  border-radius: 5px;
  text-align: center;
  font-family: "Jua", sans-serif;
  color: #FFFFFF;
}
/* line 60, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .error-list {
  color: red;
}
/* line 64, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-p {
  margin: 30px;
  padding-bottom: 10px;
}
/* line 71, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-form-input {
  padding: 5px 10px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  background-color: #E1E0DD;
  color: #FFFFFF;
}
/* line 81, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/session.scss */
.session-form-container .session-form-submit:hover {
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css?family=Jua");
/* line 7, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/static_pages.scss */
header {
  width: 100%;
  font-family: "Jua", sans-serif;
  display: block;
  display: flex;
  justify-content: space-between;
  background-color: #4F403D;
}

/* line 15, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/static_pages.scss */
.site-title {
  display: inline-block;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
  color: #14ECCE;
}

/* line 24, /Users/chengtsai/Desktop/FreshCard/app/assets/stylesheets/static_pages.scss */
.logo-img {
  width: 150px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
