.deck-index-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  width: 80%;
  height: auto;
  font-size: 20px;


  .link-to-create-deck {
    margin-bottom: 15px;
    height: auto;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 30px;

  }

  .link-to-create-deck:hover {
    background-color: #E4E7E9;
  }

  .deck-index-table {
    border: 3px solid black;
    width: 100%;
    height: auto;
    background-color: #BFE1EE;
    tr {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-top: 1px solid black;
      th {
        font-size: 25px;
      }
      .deck-index-title-th {
        width: 250px;
      }
      .deck-title-td {
        width: 350px;
      }
      .deck-index-empty-td {
        width: 100px;
      }
    }
    .deck-index-row-header {
      background-color: #FFFFFF;
    }
    .deck-index-link {
      text-decoration: none;
      height: auto;
      color: #000000;

      .deck-edit-link {
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 30px;
        text-decoration: none;
        color: #000000;
      }

      .deck-edit-link:hover {
        background-color: #53BBE3;
      }
    }



    .deck-index-row:hover {
      background-color: #53BBE3;
      .deck-edit-link {
        background-color: #BFE1EE;
      }
    }
  }
}
