.deck-index-container, .currentuser-deck-index-container {
  margin: auto;
  margin-bottom: 40px;
  display: block;
  height: auto;

  .deck-index-header {
    font-size: 40px;
    margin: 15px;
    text-align: center;
  }

  .deck-index-buttons {
    display: flex;
    justify-content: center;
    .link-to-create-deck, .deck-to-index-link {
      color: #000000;
      margin: 30px;
      height: auto;
      display: inline-block;
      text-decoration: none;
      padding: 10px;
      border: 3px solid #000000;
      border-radius: 30px;
      &:hover {
        background-color: #E4E7E9;
      }
    }
  }

  .deck-index-table {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 2px solid black;
    width: 100%;
    height: auto;
    background-color: #BFE1EE;
    tr {
      display: flex;
      padding: 15px;
      border-top: 1px solid black;
      .deck-index-td {
        width: 85px;
        text-align: center;
        align-self: center;
      }
      .deck-title-td {
        width: 200px;
        align-self: center;
      }
    }
    .deck-index-row-header {
      background-color: #FFFFFF;
    }
    .deck-index-link {
      text-decoration: none;
      height: auto;
      color: #000000;

      &:hover {
        text-decoration: underline;
        font-weight: bold;
      }
    }

  }
  .deck-index-mastery {
    color: purple;
    width: 30px;
  }
  .deck-index-table {
    tr {
      td {
        margin-left: 10px;
      }
      .deck-title-td {
        flex-basis: 320px;
      }
      .deck-subject-td {
        flex-basis: 320px;
      }
    }
  }
}

.currentuser-deck-index-container {
  .deck-index-table {
    .currentuser-deck-index-row {
      justify-content: flex-start;
      td {
        margin-left: 8px;
      }
      .currentuser-deck-mastery-td {
        flex-basis: 50px;
        text-align: center;
      }
      .currentuser-deck-title-td {
        flex-basis: 170px;
      }
      .currentuser-deck-subject-td {
        flex-basis: 170px;
      }
      .currentuser-deck-button-td {
        flex-basis: 50px;

        a, button {
          font-size: 15px;
          display: inline-block;
          width: 70px;
          padding: 5px;
          border: 1px solid #000000;
          border-radius: 30px;
          text-decoration: none;
          text-align: center;
          color: #000000;

          &:hover {
            background-color: #53BBE3;
            cursor: pointer;
          }
        }
      }
    }
    .deck-index-row {
      display: flex;
      justify-content: flex-start;
      td {
        margin-left: 8px;
      }
      .currentuser-deck-mastery-td {
        flex-basis: 50px;
        text-align: center;
      }
      .deck-title-td {
        flex-basis: 170px;
      }
      .deck-subject-td {
        flex-basis: 170px;
      }
    }
  }
}
