@import url('https://fonts.googleapis.com/css?family=Jua');
$jua: 'Jua', sans-serif;

.deck-study-container {

  font-size: 30px;
  margin: auto;
  margin-bottom: 50px;

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    background-image: url('book.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .deck-study-title {
    display: block;
    text-align: center;
  }
  .deck-study-progress {
    display: inline;
    float: right;
    font-size: 25px;
    text-align: right;
    margin-right: 150px;
  }

  .deck-study-mastery {
    background-color: #bad0e0;
    font-size: 18px;
    width: 60px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: 5px solid #000000;
    border-radius: 100%;
    margin: 10px;
    margin-left: 50px;
    margin-bottom: 0px;
    text-align: center;
    p {
      margin-bottom: 10px;
      width: 100px;
    }
  }

  .deck-study-x {
    display: inline;
    float: right;
    text-decoration: none;
    font-size: 30px;
    margin: 50px;
    color: #000000;
  }

  .deck-study-content {
    margin: auto;
    height: 300px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .study-deck-card-answer, .study-deck-card-question {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #000000;
      padding: 15px;
      border-radius: 5px;
      margin: 10px;;
      width: 80%;
      height: 250px;
      text-align: center;
      font-size: 20px;
      line-height: 110%;
    }

    .study-deck-card-answer {
      background-image: url('answer.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .study-deck-card-question {
      background-image: url('question.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .activate-button {
      height: 50px;
      margin: auto;
      font-size: 50px;
      &:hover {
        cursor: pointer;
      }
    }
    .fake-button {
      height: 50px;
      margin: auto;
      font-size: 50px;
    }
  }
  .deck-study-selection {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    a, button {
      font-family: $jua;
      color: #000000;
      margin: 15px;
      width: auto;
      height: auto;
      display: inline-block;

      font-size: 30px;
      padding: 15px;
      text-decoration: none;
      border: 2px solid #CCD9D7;
      border-radius: 5px;
      text-align: center;
      background-color: buttonface;

      &:hover {
        background-color: #B8BBBB;
        border-style: outset;
        cursor: pointer;
      }
    }
    .deck-study-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 20px;
      }
      div {
        display: flex;
        justify-content: space-between;
        label {
          margin-top: 15px;
          input {
            border: 0px;
            width: 100%;
          }
        }
      }
      input {
        font-family: $jua;
        margin: 10px;
        width: auto;
        height: auto;
        display: inline-block;

        font-size: 20px;
        padding: 15px;
        text-decoration: none;
        border: 2px solid #CCD9D7;
        border-radius: 5px;
        text-align: center;

        &:hover {
          background-color: #B8BBBB;
          border-style: outset;
          cursor: pointer;
        }
      }
    }
  }

}
