@import url('https://fonts.googleapis.com/css?family=Jua');
$jua: 'Jua', sans-serif;

.deck-form-container {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  .deck-form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .deck-form-title {
      font-size: 40px;
      margin: auto;
      margin-top: 15px;
    }

    .deck-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 15px;
      .deck-form-label {
        font-size: 20px;
        .deck-form-textbox {
          padding: 5px 10px;
          font-family: $jua;
          font-size: 17px;
          width: 50%;
          border-radius: 5px;
          background-color: #E1E0DD;
          margin: 15px;
        }

        .deck-form-dropdown {
          background-color: #E1E0DD;
          margin: 15px;
          option {
            font-family: $jua;
            margin: 15px;
          }
        }
      }
      .deck-form-submit {
        font-family: $jua;
        margin: 15px;
        position: relative;
        width: auto;
        height: auto;
        display: inline-block;

        background-color: #88C2EA;
        font-size: 20px;
        padding: 5px;
        text-decoration: none;
        border: 2px solid #CCD9D7;
        border-radius: 5px;
        text-align: center;
      }

      .deck-form-submit:hover {
        background-color: #4FABEA;
        border-style: outset;
      }
    }
  }
}
