@import url('https://fonts.googleapis.com/css?family=Jua');
$jua: 'Jua', sans-serif;

.deck-form-container {
  margin: auto;
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  border: 2px solid #000000;
  border-radius: 8px;
  .deck-form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .deck-form-title {
      font-size: 35px;
      margin: auto;
      margin-top: 15px;
    }

    .deck-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 15px;
      .deck-form-label {
        width: 600px;
        font-size: 25px;
        margin: 15px;

        .deck-form-textbox {
          padding: 5px 10px;
          font-family: $jua;
          font-size: 25px;
          width: 60%;
          border-radius: 5px;
          background-color: #E1E0DD;
          margin: 15px;
          word-wrap: break-word;
        }

        .deck-form-dropdown {
          width: auto;
          font-family: $jua;
          font-size: 25px;
          background-color: #E1E0DD;
          margin: 15px;
        }
      }
      .deck-form-submit {
        font-family: $jua;
        margin: 15px;
        width: auto;
        height: auto;
        display: inline-block;

        background-color: #88C2EA;
        font-size: 25px;
        padding: 5px;
        text-decoration: none;
        border: 2px solid #CCD9D7;
        border-radius: 5px;
        text-align: center;

        &:hover {
          background-color: #4FABEA;
          border-style: outset;
        }
      }
    }
  }
}
