.deck-index-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  width: 70%;
  height: auto;
  font-size: 20px;

  .deck-index-buttons {
    display: flex;
    justify-content: space-between;
    .link-to-create-deck, .deck-to-index-link {
      color: #000000;
      margin: 30px;
      height: auto;
      display: inline-block;
      text-decoration: none;
      padding: 10px;
      border: 3px solid #000000;
      border-radius: 30px;
      &:hover {
        background-color: #E4E7E9;
      }
    }
  }

  .deck-index-table {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 2px solid black;
    width: 100%;
    height: auto;
    background-color: #BFE1EE;
    tr {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-top: 1px solid black;
      th {
        font-size: 25px;
      }
      .deck-index-td {
        width: 85px;
        text-align: center;
        align-self: center;
      }
      .deck-title-td {
        width: 200px;
        align-self: center;
      }
    }
    .deck-index-row-header {
      background-color: #FFFFFF;
    }
    .deck-index-link {
      text-decoration: none;
      height: auto;
      color: #000000;

      &:hover {
        text-decoration: underline;
        font-weight: bold;
      }
    }
    .deck-edit-link, .deck-add-question-link, .deck-delete-button {
      display: inline-block;
      position: relative;
      width: 80px;
      padding: 5px;
      border: 1px solid #000000;
      border-radius: 30px;
      text-decoration: none;
      color: #000000;

      &:hover {
        background-color: #53BBE3;
        cursor: pointer;
      }
    }
  }
}
