
.session-link {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 25px;
  background-color: #7CA9A4;
  font-family: 'Yatra One', cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
  border: 2px;
  border-color: #CCD9D7;
  border-radius: 5px;
  border-style: outset;
  text-align: center;
  color: #FFFFFF;
}
