@import url('https://fonts.googleapis.com/css?family=Jua');
$jua: 'Jua', sans-serif;

.login-signup{
  display: flex;
  justify-content: center;
  align-items: center;

  button{
    background-color: #7CA9A4;
    font-size: 20px;
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    border: 2px;
    border-color: #CCD9D7;
    border-radius: 5px;
    border-style: outset;
    text-align: center;
    color: #FFFFFF;
    &:hover {
      color: #BFE1EE;
      background-color: #818585;
    }
  }
}

.header-group {
  margin: auto 20px;
  display: flex;
  flex-direction: row;
  .header-name {
    vertical-align: center;
    margin-right: 20px;
    padding-top: 7px;
    font-size: 20px;
    text-shadow: 2px 2px #000000;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
      color: #BFE1EE;
    }
  }

  .header-button {
    display: inline-block;
    background-color: #7CA9A4;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    border: 2px outset #CCD9D7;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    font-family: $jua;
    &:hover {
      color: #BFE1EE;
      background-color: #818585;
    }
  }

  .header-button:hover {
    cursor: pointer;
  }
}
