@import url('https://fonts.googleapis.com/css?family=Jua');
$jua: 'Jua', sans-serif;

.question-form-container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border: 3px solid #000000;
  border-radius: 8px;
  .question-form-box {
    font-size: 40px;
    width: 80%;

    .question-form-title {
      text-align: center;
      margin: 15px;
    }
    .question-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 15px;
      .question-form-label {
        display: flex;
        flex-direction: column;
        .question-form-textbox {
          &:focus {
            border: solid #000000;
          }
          font-family: $jua;
          padding: 15px 20px;
          text-align: left;
          border: 1px solid #CFD2D4;
          border-radius: 5px;
          font-size: 20px;
          height:100px;
          word-break: break-word;
        }
      }

      .question-form-submit {
        font-family: $jua;
        margin: 15px;
        width: auto;
        height: auto;
        display: inline-block;

        background-color: #88C2EA;
        font-size: 35px;
        padding: 5px;
        text-decoration: none;
        border: 2px solid #CCD9D7;
        border-radius: 5px;
        text-align: center;

        &:hover {
          background-color: #4FABEA;
          border-style: outset;
        }
      }
    }
  }
}
