@import url('https://fonts.googleapis.com/css?family=Jua');
$jua: 'Jua', sans-serif;

.session-form-container {
  margin: auto;
  margin-top: 150px;
  font-family: $jua;
  display: block;
  width: 550px;
  height: auto;
  border: 5px outset #B6C3C2;
  border-radius: 5px;
  font-size: 18px;


  .session-form-box {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;


    .form-title {
      padding: 40px 0px;
      display: block;
      font-size: 50px;
    }

    .session-form-label {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      padding-bottom: 10px;

      .session-form-input {
        margin-left: auto;
      }
    }


  }

  .session-form-submit {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;

    background-color: #7CA9A4;
    font-size: 20px;
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    border: 2px outset #CCD9D7;
    border-radius: 5px;
    text-align: center;
    font-family: $jua;
    color: #FFFFFF;
    &:hover{
      cursor: pointer;
    }
  }

  .error-list {
    color: red;
  }

  .session-p {
    margin: auto;
    position:relative;
    margin: 30px;
    padding-bottom: 10px;
    font-size: 18px;

  }

  .session-form-input {
    padding: 5px 10px;
    font-family: $jua;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
    background-color: #E1E0DD;
  }
}
