@import url('https://fonts.googleapis.com/css?family=Gaegu:700');
$gaegu: 'Gaegu', cursive;

.session-form-container {
  margin: 5px;
  font-family: $gaegu;
  display: block;
  width: 450px;
  height: auto;
  border: 5px outset #B6C3C2;
  border-radius: 5px;
  font-size: 18px;

  .session-form-box {
    padding-left: 30px;
    padding-right: 30px;


    .form-title {
      padding-bottom: 20px;
      display: block;
      font-size: 50px;
    }

    .session-form-label {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      padding-bottom: 10px;

      .session-form-input {
        margin-left: auto;
      }
    }


  }

  .session-form-submit {
    left: 300px;
    position: relative;
    width: auto;
    height: auto;
    background-color: #7CA9A4;
    font-size: 20px;
    padding: 5px;
    margin-right: 15px;
    margin-top: 15px;
    text-decoration: none;
    border: 2px outset #CCD9D7;
    border-radius: 5px;
    text-align: center;
    font-family: $gaegu;
    color: #FFFFFF;
  }

  .session-p {
    position:relative;
    margin: 30px;
    padding-bottom: 10px;

  }

  .session-form-input {
    padding: 5px 10px;
    font-family: $gaegu;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
    background-color: #E1E0DD;
    color: #FFFFFF;
  }

  .session-form-submit:hover {
    cursor: pointer;
  }
}
